@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

._toast-info_v91zz_1 {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2196f3;
  box-shadow: 0 0 7px rgba(33, 150, 243, 0.5);
  color: #fff;
  text-align: center;
}

._toast-success_1dljs_1 {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #43a047;
  box-shadow: 0 0 7px rgba(67, 160, 71, 0.5);
  color: #fff;
  text-align: center;
}

._toast-warning_ohu7r_1 {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0ad4e;
  box-shadow: 0 0 7px rgba(240, 173, 78, 0.5);
  color: #fff;
  text-align: center;
}

._toast-failure_1xuna_1 {
  min-width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #d32f2f;
  box-shadow: 0 0 7px rgba(211, 47, 47, 0.5);
  color: #fff;
  text-align: center;
}

.comic-baloon {
  position: absolute;
  height: 70px;
  width: 424px;
  background: white;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
}
.comic-baloon:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -48px;
  left: calc(50% - 25px)
}